.input {
  position: relative;

  .input-title {
    padding-left: 11px;
    margin-bottom: 7px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #724dd3;
    transition: all .3s;
  }

  &.focus:after {
    left: 0;
    width: 100%;
  }

  input {
    width: 250px;
    height: 32px;
    padding: 4px 11px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #d9d9d9;
    transition: all .3s;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: #949494;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
